<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html"> </head>
<body>

<nav th:replace="/fragments/nav.html"> </nav>
<div class="container mb-3">

    <div class="jumbotron">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boards : ${boards}">  <!-- TimeLeaf 문법, foreach와 비슷한 느낌, members의 갯수만큼 반복 -->
                <td th:text="${boards._id}"></td>
                <td>
                    <a th:href="@{'/board/' + ${boards._id}}">
                        <span th:text="${boards.title}"></span>
                    </a>
                </td>
                <td th:text="${boards.date}"></td>
            </tr>
            </tbody>
        </table>
        <a href="/board/new">게시글 작성</a>
    </div>

</div>
</body>
</html>