<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html"> </head>
<body>

<nav th:replace="/fragments/nav.html"> </nav>

<div class="container mb-3">

    <div class="jumbotron">
        <form action="/board/new" method="post">
            <div class="form-group">
                <label for="title"> 제목</label>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="text" id="title" name="title" placeholder="제목을 입력하세요">

                <label for="body">내용</label>
                <input type="text" id="body" name="body" placeholder="내용을 입력하세요">
            </div>
            <button type="submit">등록</button>
        </form>
    </div>

</div>
</body>
</html>