<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html"> </head>
<body>

<nav th:replace="/fragments/nav.html"> </nav>

    <div class="container mb-3"> 

      <div class="jumbotron">
        <h1>This is About Page</h1>
            파라미터 name 값을 넣을시 아래에 나타납니다.<br>
            <a href="/about?name=asdf">/about?name=asdf<br></a>
            <a href="/about">/about</a>
            <h2 th:if="${name != 'No Name'}" th:text="${name}"></h2>

      </div>

    </div>
  </body>
</html>